@import "tailwindcss";

@theme {
  --color-brand-25: oklch(0.95 0.085 148.02);
  --color-brand-50: oklch(0.904 0.178 148.02);
  --color-brand-100: oklch(0.857 0.248 148.02);
  --color-brand-200: oklch(0.811 0.235 148.02);
  --color-brand-300: oklch(0.764 0.221 148.02);
  --color-brand-400: oklch(0.718 0.208 148.02);
  --color-brand-500: oklch(0.672 0.194 148.02);
  --color-brand-600: oklch(0.625 0.181 148.02);
  --color-brand-700: oklch(0.579 0.167 148.02);
  --color-brand-800: oklch(0.533 0.154 148.02);
  --color-brand-900: oklch(0.486 0.141 148.02);
  --color-brand-950: oklch(0.44 0.127 148.02);
  --color-brand-975: oklch(0.393 0.114 148.02);
  --color-brand-foreground: oklch(0.7791 0.1832 119.99);
  --color-foreground: oklch(0.2134 0 0);
  --color-background: oklch(1 0 0);
  --font-body: var(--font-archivo);
  --font-heading: var(--font-clash-display);
  --radius: 4rem;
}

@layer components {
  .btn-primary {
    cursor: pointer;
    background-color: var(--color-brand-300);
    padding: 0.5rem 1rem;
    color: var(--color-foreground);
    border-radius: var(--radius);
  }

  .btn-primary:hover {
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    background-color: var(--color-brand-400);
  }
}

@layer base {
  body {
    font-weight: 400;
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-space);
    font-family: var(--font-body);
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  h1,
  h2,
  h3 {
    text-wrap: balance;
    font-family: var(--font-heading);
  }

  h1.display {
    font-size: clamp(2.986rem, 5vw, 3.5832rem);
    line-height: 1.1;
    font-weight: 500;
  }

  h1 {
    font-size: 2.986rem;
    font-weight: 400;
    line-height: 1.1;
  }

  h2 {
    font-size: 2.488rem;
    font-weight: 400;
    line-height: 1.1;
  }

  h3 {
    font-size: 2.074rem;
    font-weight: 400;
    line-height: 1.1;
  }

  p {
    font-size: 1rem;
  }

  small {
    font-size: 0.833rem;
  }
}
