---
import solarIcon from "@/assets/svgs/solar-icon.svg?raw"
import homeIcon from "@/assets/svgs/home-icon.svg?raw"
import computerIcon from "@/assets/svgs/computer.svg?raw"

const content = [
  {
    title: "Erneuerbare Energieanlagen",
    image: "/services-1.jpg",
    icon: solarIcon,
  },
  {
    title: "Smart Home und Gebäudetechnik",
    image: "/services-2.jpg",
    icon: homeIcon,
  },
  {
    title: "Digitale Lösungen und Plattformen",
    image: "/services-3.jpg",
    icon: computerIcon,
  },
]
---

<section class="py-16 px-6">
  <div class="max-w-6xl mx-auto">
    <div class="flex flex-col lg:flex-row justify-between items-start gap-4">
      <h2>
        Massgeschneiderte Lösungen.
        <br />
        Für eine nachhaltige Zukunft.
      </h2>
      <p class="max-w-sm">
        Von der Planung bis zum Betrieb bieten wir umfassende Dienstleistungen
        in den Bereichen erneuerbare Energieanlagen, Smart Home und Gebäudetechnik
        sowie digitale Lösungen und Plattformen.
      </p>
    </div>

    <div class="mt-12 flex flex-col gap-4 lg:flex lg:flex-row">
      {
        content.map((item) => (
          <div class="relative h-96 w-full lg:flex-1 overflow-hidden rounded-2xl">
            <img src={item.image} alt={item.title} class="absolute inset-0 w-full h-full object-cover" />
            <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/20 to-transparent" />
            <div class="absolute right-0 bottom-0 left-0 flex items-end justify-between p-6">
              <div class="flex flex-col gap-3">
                <div class="w-12 h-12 text-brand-300" set:html={item.icon} />
                <p class="font-heading text-xl font-semibold text-white">
                  {item.title}
                </p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
