---
import Layout from "@/layouts/main.astro"
import OfferteHero from "@/components/offerte/OfferteHero.astro"
import PersonalDetailsFieldset from "@/components/offerte/PersonalDetailsFieldset.astro"
import AddressFieldset from "@/components/offerte/AddressFieldset.astro"
import ProjectDetailsFieldset from "@/components/offerte/ProjectDetailsFieldset.astro"
import RequestDetailsFieldset from "@/components/offerte/RequestDetailsFieldset.astro"
import AttachmentsFieldset from "@/components/offerte/AttachmentsFieldset.astro"
import OfferteSidebar from "@/components/offerte/OfferteSidebar.astro"
---

<Layout
  title="Kostenlose Offerte anfordern | EnergieWelt"
  description="Fordern Sie in wenigen Minuten Ihre unverbindliche Solaranlagen-Offerte an. Wir melden uns innerhalb von 24 Stunden mit einem massgeschneiderten Angebot."
>
  <section class="min-h-screen">
    <OfferteHero />

    <div class="px-6 py-16">
      <div class="mx-auto grid max-w-6xl grid-cols-1 gap-16 lg:grid-cols-3">
        <div class="lg:col-span-2">
          <form
            id="offerte-form"
            class="flex flex-col gap-10"
            enctype="multipart/form-data"
          >
            <PersonalDetailsFieldset />
            <AddressFieldset />
            <ProjectDetailsFieldset />
            <RequestDetailsFieldset />
            <AttachmentsFieldset />

            <div id="form-feedback" class="hidden rounded-lg px-4 py-3 text-sm"></div>

            <button class="btn-primary" id="submit-btn" type="submit"
              ><span id="submit-text">Offerte anfordern</span></button
            >
          </form>
        </div>

        <OfferteSidebar />
      </div>
    </div>
  </section>
</Layout>

<script>
  import "@/scripts/offerte/toggles"
  import "@/scripts/offerte/address-autocomplete"
  import "@/scripts/offerte/file-upload"
  import "@/scripts/offerte/submit-handler"
</script>
