---
import "@/styles/global.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://api.fontshare.com/v2/css?f[]=clash-display@200,300,400,500,600,700&display=swap" />
    <title>EnergieWelt</title>
  </head>
  <body>
    <main >
      <slot />
    </main>
  </body>
</html>
