---
interface Props {
  value: string
  label: string
}

const { value, label } = Astro.props
---

<div class="stat-card bg-background last:col-span-2">
  <p class="stat-card-value">{value}</p>
  <p class="stat-card-label">{label}</p>
</div>
