---
interface Props {
  value: string
  label: string
}

const { value, label } = Astro.props
---

<div class="stat-card bg-foreground">
  <p class="stat-card-value text-background">{value}</p>
  <p class="stat-card-label text-background">{label}</p>
</div>
